.chat-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: #ece5dd;
}

/* HEADER */
.chat-header {
  background: #075e54;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.status {
  display: flex;
  align-items: center;
  gap: 5px;
}

.dot.online {
  background: #25d366;
}

.dot.offline {
  background: gray;
}

/* MENSAGENS */
.messages {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.message {
  max-width: 70%;
  padding: 10px;
  margin: 5px 0;
  border-radius: 10px;
  word-wrap: break-word;
}

/* MINHA */
.sent {
  align-self: flex-end;
  background: #dcf8c6;
}

/* OUTRO */
.received {
  align-self: flex-start;
  background: white;
}

/* DIGITANDO */
.typing {
  font-size: 12px;
  color: gray;
  margin: 5px;
}

/* INPUT */
.chat-input {
  display: flex;
  padding: 10px;
  background: #f0f0f0;
}

.chat-input input {
  flex: 1;
  padding: 10px;
  border-radius: 20px;
  border: none;
}

.chat-input button {
  margin-left: 10px;
  padding: 10px 15px;
  border: none;
  border-radius: 50%;
  background: #25d366;
  color: white;
  cursor: pointer;
}
