.config-container {
  width: 30%;       
  max-width: 1000px; 
  margin: 40px auto; 
  padding: 30px;
  font-family: Arial, sans-serif;
}

.config-container h1 {
  margin-bottom: 20px;
}

.config-section {
  background: white;
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.config-section h2 {
  margin-bottom: 15px;
  color: #58af9b;
  margin-bottom: 20px
}

.config-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.config-item label {
  font-size: 14px;
  max-width: 70%;
  font-size: 16px;
  gap: 10px
}

.config-button {
  padding: 10px 15px;
  border-radius: 8px;
  border: none;
  background: #58af9b;
  color: white;
  cursor: pointer;
}

.config-button:hover {
  background: #4a9e8b;
}

.config-button.danger {
  background: #e74c3c;
}

.config-button.danger:hover {
  background: #c0392b;
}

.config-item input[type="checkbox"] {
  transform: scale(1.4); 
  margin-right: 10px;    
  cursor: pointer;
}