.filters {
  position: absolute;
  top: 80px;
  left: 20px;
  width: 260px;
  background: rgba(77, 76, 76, 0.7);
  /* background: white; */
  padding: 16px;
  border-radius: 16px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0 8px 20px rgba(29, 28, 28, 0.1);
  font-family: Arial, sans-serif;
  /* 🔥 ESSENCIAL */
  max-height: 90vh;
  overflow-y: auto;
  pointer-events: auto;
}


.filters input,
.filters select {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ddd;
  outline: none;
  font-size: 14px;
}

.filters input:focus,
.filters select:focus {
  border-color: #58af9b;
}

.search-btn {
  margin-top: 10px;
  padding: 12px;
  background: #58af9b;
  color: white;
  border: none;
  border-radius: 12px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

.search-btn:hover {
  background: #4a9e8b;
}

/* 🔥 RESET CORRETO DO LEAFLET */
.leaflet-container {
  position: relative;
  z-index: 0;
}

.leaflet-pane {
  position: absolute;
}

.leaflet-tile-pane {
  z-index: 200;
}

.leaflet-overlay-pane {
  z-index: 400;
}

.leaflet-shadow-pane {
  z-index: 500;
}

.leaflet-marker-pane {
  z-index: 600;
}

.leaflet-tooltip-pane {
  z-index: 650;
}

.leaflet-popup-pane {
  z-index: 700;
}