.rating-item {
  display: flex;
  justify-content: space-between; 
  align-items: center;         
  gap: 10px;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}

.rating-content {
  display: flex;
  flex-direction: column;
}
.delete-rating-btn {
  background: #f87171;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 8px;
  cursor: pointer;
}

.delete-rating-btn:hover {
  background: #ef4444;
}

.btn-send-rating{
  background-color: #58af9b;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s;
  width:100%;
}

.btn-send-rating:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.btn-rate{
  background-color: #58af9b;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s;
}
.btn-rate:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.close-btn{
  background-color: #7c8180;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s;
}
.close-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}
