.update-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background:  #8aa29d;
}

.update-form {
  background: white;
  padding: 20px;
  border-radius: 15px;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
} 

.login-logo-up {
  width: 210px;
  margin-bottom: 15px;
}

.update-form h2 {
  margin-bottom: 20px;
  color: #2b2929;
}

.update-form input {
  width: 100%;
  height: 45px;
  margin-bottom: 15px;
  border: none;
  background: #ecf0f1;
  padding: 10px;
}

.update-form button {
  background-color: #58af9b;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 15px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.update-form button:hover {
  background-color: white;
  color: #58af9b;
  border: 1px solid #58af9b;
}